@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(247, 247, 247, 0.935);
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
    
  body::-webkit-scrollbar-thumb {
    background-color: orange;    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
  }